DOCTYPE(html)
html(lang="zh-TW")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title 蘇奕幃 Alex Su
  link(rel="stylesheet" href="./style.css")
  script(src="https://kit.fontawesome.com/510e4d6efe.js" crossorigin="anonymous")
body
  .card
    .header
      .share
        i.fa-solid.fa-share-from-square
      .qrcode
        i.fa-solid.fa-qrcode
      dialog.modal
        img(src="./img/qrcode.png")
        .close-modal &times;
    .profile
      img(src="./img/avatar.jpg")
      h1 蘇奕幃 Alex Su
      p 成功大學 工業與資訊管理系 #[br] GDSC NCKU Lead 2023 ~ 2024 #[br]
    .links
      a(href="mailto:alex20020609@gmail.com" target="_blank")
        i.fa-solid.fa-envelope
      a(href="https://www.facebook.com/alex910609/" target="_blank")
        i.fa-brands.fa-facebook
      a(href="https://www.instagram.com/yeeway_0609/?next=%2F" target="_blank")
        i.fa-brands.fa-instagram
      a(href="https://discord.com/users/388961699488595968" target="_blank")
        i.fa-brands.fa-discord
      a(href="https://t.me/Alex_yeeway" target="_blank")
        i.fa-brands.fa-telegram
      a(href="https://www.linkedin.com/in/yeeway/" target="_blank")
        i.fa-brands.fa-linkedin
      a(href="https://github.com/yeeway0609" target="_blank")
        i.fa-brands.fa-github
      a(href="https://www.pinterest.com/alex20020609/" target="_blank")
        i.fa-brands.fa-pinterest
      a(href="https://open.spotify.com/user/316mp4peyke2yfbklasiigreqyfq?si=c43b8b73559f4e32" target="_blank")
        i.fa-brands.fa-spotify
script(src="./script.js")
