* {
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.card {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 24px;
  border: 1px solid #000;
  border-radius: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .share i {
  font-size: 24px;
  color: #000;
}
.header .qrcode i {
  font-size: 24px;
  color: #000;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile h1 {
  margin: 8px 0px;
  font-size: 18px;
}
.profile p {
  margin: 0;
  font-size: 12px;
}

.links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.links a {
  width: 30px;
  margin: 4px 10px;
  display: flex;
  justify-content: center;
}
.links i {
  font-size: 24px;
  color: #000;
}